
*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url(/images/background37.jpg);
    background-position: center center;
    background-size: max(1250px, 100vw);
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
}

.containeralign-left{
    text-align: left;
    font-size: 25px;
    
}
.main2{
    margin-top: 400px;
    display:flex ;
    height: 550px;
    margin-left: 70px;
    
    
}
.main2 img
{

    height: 530px;
    border-radius: 50%;
   
}
    .alignright{
        padding: 100px 90px;
        font-family: "Be Vietnam";
        
        
        
    }
    .alignright p{
        width: 95%;
    }

.alignright h3{
    font-size: 14.4px;
    color: rgb(41, 88, 83);
    
}
.alignright p{
    font-size: 17.4px;
    font-family: 'Segoe UI';
    
}
.form{
    height: 530px;  
    text-align: center;
    color: white;
    padding-top: 220px;
    background-color: rgb(41, 88, 83);
    box-shadow: inset 0 0 0 85px white;
    font-size: 28px;

    
}


.form input[name="button"]{
    font-family: "Be vietnam";
    background-color: rgb(120, 198, 153);
    border-radius: 4px;
    color: rgb(41, 88, 83);
    margin: 20px;
    


}
.form input[name="input"]{
    font-family: "Be vietnam";
    border-radius: 4px;
    
   
}
.form h5{
     font-family: "Cormorant Garamond";
     font-size: 48px;
}
.main3{
    
    background-color: rgba(75, 155, 134, 0.671);
    height: 430px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    font-size: 30px;
    color: white;
    font-family: "Cormorant Garamond";   
    display: flex; 
   padding-top: 70px;
   padding-left: 35px;
   
   
    

}
.main3 input{
    cursor: pointer;
    background-color: rgb(120, 198, 153);
    border-radius: 3px;
}
.main3 p{
    font-size: 17.6px;
    font-family: 'Segoe UI';
}
.main3 h3{
    font-size: 14.4px;
    font-family: "Be vietnam";
    
}
.main3 div{
    width: 60vw;
} 
.accordion button{
   background-color: transparent;
   color: white;
   border: none;
   border-bottom: solid 1px white;
   width: 70%;
   padding-right: 40%;
   margin: 7px;
}

.accordion-body{
    
    
    font-family: 'Segoe UI';
    font-size: 17.6px;
    padding-right: 156px;


}
.accordion{
    
    padding-left: 15%;
   
}
.main4{
    height: 850px;
    text-align: center;
    color: rgb(41, 88, 83);
    display: flex;
    flex-direction: column;
    background-position: center;
    


}
.main4 h3{
    font-family: "Cormorant Garamond";
    font-size: 48px;
}
.main4 h4{
    color: #4b9b86;
    font-family: 'Be Vietnam';
    font-size: 14.4px;
    font-weight: 400;
   

}
.main4 div{
    padding-top: 5%;
}
.main4 .video{
    background-image: url(images/background16.jpg);
     width: 779px;
     background-size: cover;
     background-position: center;
     height: 600px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
    

}
.align-center {
    text-align: center;
}

.icon-wrap {
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    background: #4b9b86;
    width: 130px;
    height: 130px;
    cursor: pointer;
}
.mbr-media span {
    font-size: 1.4rem;
    border: 2px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.25s;
    color: #ffffff ;
}
.mobi-mbri-play:before {
    content: "\e95c";
}
.main5{
    padding-top: 40px;
    background-color: #fafafa;
    display: flex;
    height: 500px;
    
}
.main5 img{
    width: 136%;
    padding-top: 5%;
    padding-left: 20%;
}
.story{
    display: flex;
    padding-left: 8%;
    flex-direction: column;
}
.char{
    display: flex;
    flex-direction: row;
}
.char div{
    padding: 40px;
}
.story p{
    font-family: 'Be Vietnam';
    font-size: 17.6px;
    color: #999999;
}
.main5 h3{
    font-family: "Cormorant Garamond";
    font-size: 48px;
    color: #4b9b86;
}
