
*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url(/images/background37.jpg);
    background-position: center center;
    background-size: max(1250px, 100vw);
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
}

.containeralign-left{
    text-align: left;
    font-size: 25px;
    
}
.main2{
    margin-top: 400px;
    display:flex ;
    height: 550px;
    margin-left: 70px;
    
    
}
.main2 img
{

    height: 530px;
    border-radius: 50%;
   
}
    .alignright{
        padding: 100px 90px;
        font-family: "Be Vietnam";
        
        
        
    }
    .alignright p{
        width: 80%;
    }

.alignright h3{
    font-size: 14.4px;
    font-weight: 400px;

    
   



    

}
